./Results/02_yeast/asm.seqStore/blobs.0001
./Results/02_yeast/unitigging/asm.ovlStore/0001-001
./Results/02_yeast/unitigging/asm.ctgStore/seqDB.v002.dat
./Data/Raw_reads/SRR13577846.fastq
./.git/objects/pack/pack-3fbd995b2075c375dbe861d13fc64e1f9edaf707.pack
/Results/02_yeast/asm.seqStore/blobs.0001 filter=lfs diff=lfs merge=lfs -text
/Results/02_yeast/unitigging/asm.ctgStore/seqDB.v002.dat filter=lfs diff=lfs merge=lfs -text
/Results/02_yeast/unitigging/asm.ovlStore/0001-001 filter=lfs diff=lfs merge=lfs -text
